<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oscode.gatherthis"
    android:versionCode="12"
    android:versionName="1.6.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sorcery"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oscode.gatherthis.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.oscode.gatherthis.Rules2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oscode.gatherthis.Database"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.oscode.gatherthis.Search"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oscode.gatherthis.FragmentManager"
            android:icon="@drawable/sorcery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
            android:name="com.oscode.gatherthis.DatabaseDownloadService"
            android:exported="false"></service>
    </application>

</manifest>